@page
@{
    Layout = "~/Pages/Shared/Layout.cshtml"; // Указываем путь к макету
    ViewData["Title"] = "products List";
}
<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
<div id="filter-container">
    <input type="text" id="filter-name" placeholder="Filter by product name"/>
    <button onclick="applyFilters()"> Apply Filters</button>
</div>
<div id="products-container">
    <!-- Данные будут загружены сюда через JS -->
</div>
<div id="productModal" class="modal">
    <div class="modal-content">
        <!-- Здесь будет содержимое для отображения подробностей -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script rel="stylesheet" src="~/js/products/edit.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/create.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/delete_and_info.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/get.js" asp-append-version="true"></script>